@main("Ebay app") {
<header>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <h5 class="my-0 mr-md-auto font-weight-normal">Scala eBay app</h5>
    </div>
</header>

<main role="main" class="container">
    <ul class="list-group" id="video-games" style="display: none;">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Total posted today so far
            <span class="badge badge-primary badge-pill"></span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Items without resell price
            <span class="badge badge-primary badge-pill"></span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Items with sell price less than exchange
            <span class="badge badge-primary badge-pill"></span>
        </li>
    </ul>
</main>
}
